<div class="card">
	<div class="card-header bg-light">Search Photos</div>
	<div class="card-body">
		<form (ngSubmit)="onSubmit()" class="row">
			<div class="col-6">
				<div class="form-group">
					<label class="mr-sm-2">Start Date</label>
					<div class="input-group">
						<input class="form-control" [(ngModel)]="criteria.startdate"
							placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
							#d="ngbDatepicker">
						<div class="input-group-append">
							<button class="btn btn-outline-secondary" (click)="d.toggle()"
								type="button">
								<img src="assets/img/calendar-icon.svg"
									style="width: 1.2rem; height: 1rem; cursor: pointer;" />
							</button>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="mr-sm-2" for="inlineFormCustomSelect">Location</label>
					<select [(ngModel)]="criteria.location" name="sc"
						class="custom-select">
						<option *ngFor="let c of cities" [value]="c.id">{{c.name}}</option>
					</select>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Search</button>
					<button class="btn btn-primary" (click)="cancelFilter()">Cancel</button>
				</div>
			</div>
			<div class="col-6">
				<div class="form-group">
					<label class="mr-sm-2">End Date</label>
					<div class="input-group">
						<input class="form-control" [(ngModel)]="criteria.enddate"
							placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
							#c="ngbDatepicker">
						<div class="input-group-append">
							<button class="btn btn-outline-secondary" (click)="c.toggle()"
								type="button">
								<img src="assets/img/calendar-icon.svg"
									style="width: 1.2rem; height: 1rem; cursor: pointer;" />
							</button>
						</div>
					</div>
				</div>

			</div>

		</form>
	</div>
</div>

<br />
<div class="card">

	<div class="card-body">
		<button class="btn btn-sm btn-outline-primary" (click)="open(content)">Columns</button>
		<div>
			<ngx-datatable class="bootstrap" [rows]="photos"
				[columnMode]="'force'" [footerHeight]="40" [scrollbarH]="false"
				[rowHeight]="'auto'" [externalSorting]="true"
				[externalPaging]="true" [count]="page.totalElements"
				[offset]="page.pageNumber" [limit]="page.size"
				(page)='getPhotos($event)' (sort)="sortPhotos($event)">
			<ngx-datatable-column *ngFor="let col of columns" [name]="col.name"
				[prop]="col.prop" [pipe]="col.pipe"> </ngx-datatable-column> </ngx-datatable>


		</div>


		<ng-template #content let-c="close" let-d="dismiss">
		<div class="modal-header">
			<h4 class="modal-title">Columns</h4>
			<button type="button" class="close" aria-label="Close"
				(click)="d('Cross click')">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<ul>
				<li *ngFor='let col of allColumns'><input type='checkbox'
					[id]="col.name" (click)='toggle(col)' [checked]='isChecked(col)' />
					<label [attr.for]="col.name">{{col.name}}</label></li>
			</ul>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-outline-dark"
				(click)="c('Close click')">Close</button>
		</div>
		</ng-template>
	</div>
</div>
