<div class="container">
	<div class="mb-3">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Angular Spring JWT</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="nav navbar-nav">
			      <li class="nav-item active">
						<a class="nav-link" routerLinkActive="active" routerLink="/detailphotos">Slide Show</a>
				   </li>
				   <li class="nav-item">
						<a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
					</li>
				</ul>
		    </div>
		</nav>
	</div>

</div>
<div class="container">
	<router-outlet></router-outlet>
</div>